.fl-field-photo .fl-builder-custom-field,
.fl-photo-field .fl-photo-preview-img,
table.media .column-title .media-icon,
.edit-attachment-frame .attachment-details,
.wp-core-ui .attachment .thumbnail {
	background: rgba(158,158,158,0.1);
}

/*adjust SVG images when displayed inside media library column view*/
table.media .column-title .media-icon img[src*='.svg']{
    width: 100%;
    height: auto;
}